<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.contextMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/skins.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/jquery.contextMenu.min.js}"></script>
    <script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/bootstrap-table.min.js}"></script>

    <script th:src="@{/js/common.js?v=4.7.7}"></script>
    <script th:src="@{/js/index.js?v=20201208}"></script>
    <script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
    <script th:src="@{/js/sy-ui.js?v=4.7.7}"></script>
    <script th:src="@{/js/jquery.serializeJSON.min.js}"></script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-job-edit" th:object="${zySysJob}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务cron：</label>
                <div class="col-sm-8">
                    <input name="cron" th:field="*{cron}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">执行任务类名称：</label>
                <div class="col-sm-8">
                    <input name="clazzName" th:field="*{clazzName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">执行任务类方法名称：</label>
                <div class="col-sm-8">
                    <input name="clazzMethod" th:field="*{clazzMethod}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实例名称：</label>
                <div class="col-sm-8">
                    <input name="instanceName" th:field="*{instanceName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务方法参数：</label>
                <div class="col-sm-8">
                    <input name="params" th:field="*{params}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务备注：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否允许：</label>
                <div class="col-sm-8">
                    <input name="hasEnable"  th:field="*{hasEnable}" class="" type="checkbox" id="inputBool">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">租户id：</label>
                <div class="col-sm-8">
                    <input name="tenantId" th:field="*{tenantId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务id：</label>
                <div class="col-sm-8">
                    <input name="taskId" th:field="*{taskId}" class="form-control" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <input name="type" th:field="*{type}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <script>
        var ctx = window.location.origin;
        var prefix = ctx + "/data/job";
        // $("#form-job-edit").validate({
        //     focusCleanup: true
        // });

        function submitHandler() {
            let data = $('#form-job-edit').serializeJSON();
            // if ($.validate.form()) {
                $.operate.save(prefix + "/edit",data );
            // }
        }
    </script>
</body>
</html>